Repository arsham/arshlib.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: colour, fs, lsp, quick, string, tables, util, test, ci

ref(tests): add more plenary location to rtp
  scripts/minimal_init.vim
Labels: none

ref(health): add support for neovim 0.8.0 health
  lua/arshlib/health.lua
Labels: none

style: fix linting issues
  lua/arshlib/quick.lua
  lua/arshlib/tables.lua
Labels: quick, tables

ref(lsp): remove nvim dependency
  README.md
  lua/arshlib/lsp.lua
Labels: lsp

ref(quick): add special argument to normal method
  README.md
  lua/arshlib/health.lua
  lua/arshlib/quick.lua
  lua/arshlib/util.lua
Labels: quick, util

docs: change fenced snippets spacing
  README.md
  lua/arshlib/quick.lua
Labels: quick

ref(quick,lsp)!: remove support for augroup etc.
  README.md
  lua/arshlib/quick.lua
  lua/arshlib/util.lua
Labels: quick, util

ref(health): replace deprecated health functions
  lua/arshlib/health.lua
Labels: none

ref(lsp): replace bug_get_clients to new methods
  lua/arshlib/lsp.lua
Labels: lsp

docs(README): add support for lazy.nvim
  .luarc.json
  README.md
  scripts/minimal_init.vim
Labels: none

docs(vimhelp): add vim help documentation
  doc/arshlib.txt
  doc/tags
Labels: none

docs: add the tag to the file
  doc/arshlib.txt
  doc/tags
Labels: none

ref(lsp): add get_active_clients backup call
  lua/arshlib/lsp.lua
Labels: lsp

.github/labeler.yml:

colour:
  - lua/arshlib/colour.lua
  - spec/arshlib/colour_spec.lua

fs:
  - lua/arshlib/fs.lua
  - spec/arshlib/fs_spec.lua

lsp:
  - lua/arshlib/lsp.lua
  - spec/arshlib/lsp_spec.lua

quick:
  - lua/arshlib/quick.lua
  - spec/arshlib/quick_spec.lua

string:
  - lua/arshlib/string.lua
  - spec/arshlib/string_spec.lua

tables:
  - lua/arshlib/tables.lua
  - spec/arshlib/tables_spec.lua

util:
  - lua/arshlib/util.lua
  - spec/arshlib/util_spec.lua

test:
  - spec/**/*

ci:
  - .github/*
  - .github/**/*
